@import url('https://fonts.googleapis.com/css2?family=PT+Sans:100,200,300,400,500,600,700| Satisfy:100,200,300,400,500,600,700');

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.uppercase {
    text-transform: uppercase;
}



#hero-image  {
    position: relative;
    background: url("../images/option37.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    }

    @keyframes hero-zoom {
 from {
   transform: scale(1)
}
to {
   transform: scale(1.1)
}
}


.name-heading {
   text-align:  center;
   margin-top: 400px;
   margin-right: 880px; 
   color: pink;
   font-size: 40px;
   font-family: "PT Sans" , sans-serif;
   font-weight: 500;
   letter-spacing: 5px;
   text-shadow: 3px 3px 0px #000;
}

.career-heading {
   text-align:  center;
   margin-bottom: 300px;
   margin-right: 880px; 
   color: #fff;
   font-size: 30px;
   font-family: "Arial" , sans-serif;
   font-weight: 300;
   letter-spacing: 5px;
   text-shadow: 2px 2px 0px #000;

}

/* Nav Bar */

.navbar-brand {
    color: #949492 !important;
     
}

.navbar-nav .nav-item {
    padding: 0 5px;
    margin: 10px;
    color: #fff;
}

.navbar li a {
    color: #520238 !important;
}

.navbar li a:hover {
    color: #000 !important ;
    transform: scale(0.8);
}









    







