@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Montserrat:wght@300&family=Thasadith:wght@700&display=swap');

body {
    font-family: 'Montserrat' , sans-serif;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.uppercase {
    text-transform: uppercase;
}



/* Image */

#hero-image  {
    position: relative;
    background: url("../images/option37.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    background-attachment: fixed;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    }

    @keyframes hero-zoom {
 from {
   transform: scale(1)
}
to {
   transform: scale(1.1)
}
}


.about-image {
    position:relative;
    background: url("../images/option6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
  }


.my-image {
    max-width: 100%;
    margin-top: 80px;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: #ebb0c6;
    border-width: 2px;
}

.portfolio-image {
    position:relative;
    background: url("../images/option43.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
  }



.client1-image, .client2-image, .client3-image {
  max-width: 100%;
  width: 90%;
  height: auto;
  margin-left: 350px;
  padding-right: 400px;
 
  
}






/* Heading */

.name-heading {
   text-align: center;
   margin-top: 400px;
   margin-right: 850px;
   color: #f2bbdd;
   font-size: 43px;
   font-family: 'Akronim' , sans-serif;
   letter-spacing: 5px;
   text-shadow: 3px 3px 2px #000;
}

.career-heading {
   text-align: center;
   margin-bottom: 300px;
   margin-right: 880px;
   color: #fff;
   font-size: 32px;
   font-family: "Thasadith" , sans-serif;
   font-weight: 300;
   letter-spacing: 5px;
   text-shadow: 2px 2px 2px #000;
}

.about-heading {
    text-align: center;
    padding-top: 120px;
    padding-right: 50px;
    margin: 100;
    color: #7d0155;
    text-shadow: 1px 1px 2px #fff;
}




/* Nav Bar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    text-shadow: 1px 0px 3px #fff;
}

.navbar-brand {
    color:#7d0155 !important;
    font-family: 'Montserrat' , sans-serif;
    font-size: 17px;
     
}

.navbar-nav .nav-item {
    padding: 0 5px;
    margin: 10px;
    color: #fff;
}

.navbar li a {
    color: #520238 !important;
    
}

.navbar li a:hover {
    transform: scale(0.8);
}




/* About Section */

.about-me-one {
  text-align: inherit;
  padding-top: 80px;
  padding-left: 15px;
  color: #520238;
  font-size: 20px;
}

.about-me-two {
    text-align: inherit;
    padding-top: 50px;
    padding-left: 15px;
    color:#520238 ;
    font-size: 20px; 
}

@media (max-width: 900px) {
.about-me-one {
  padding-top: 20px;
  padding-left: 13px;
}
.about-heading {
    padding-top: 40px;
    padding-right: 15px;
}














    







